.campo-error {
    border: 1px solid red !important; 
}

input.campo-error:focus {
    outline: none; 
    border-color: red !important; 
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5); 
}

input:focus {
    outline: none;
    border-color: #3f51b5;
    box-shadow: 0 0 5px rgba(63, 81, 181, 0.5);
}