<div th:fragment="content">
  <script src="/eventosTabla.js"></script>
    <table id="tabla-estados" border="1" cellpadding="5" cellspacing="0">

      <thead>
        <tr>
          <th>Fecha</th>

          <th th:if="${mostrarTabla}"
            th:each="habId : ${tablaEstados[0].estadosPorHabitacion.keySet()}"
            th:text="'Hab ' + ${habId}">
          </th>
        </tr>
      </thead>

      <tbody>

        <tr th:each="fila : ${tablaEstados}">

          <td th:text="${#temporals.format(fila.fecha, 'dd/MM/yyyy')}"></td>

          <td 
          th:each="entry : ${fila.estadosPorHabitacion.entrySet()}"
          th:style="${entry.value == 'RESERVADA' ? 'color: red;' : 'color: black;'}">
          <span th:text="${#strings.isEmpty(entry.value) ? 'DISPONIBLE' : entry.value}" ></span>
          <input type="hidden" th:value="${entry.key}" th:name="${'estado_' + entry.key}"/>
          </td>

        </tr>

      </tbody>

    </table>
</div>