<div th:fragment="contenido">

    <div class="container mt-3">
        <form method="get" action="/buscar-disponibilidad">


            <div class="mb-3">
                <label for="fechaDesde" class="form-label">Desde fecha</label>
                <input type="date" class="form-control" id="fechaDesde" name="desde" th:value="${desde}">
                <small class="text-danger" th:text="${errorDesde}"></small>
            </div>


            <div class="mb-3">
                <label for="fechaHasta" class="form-label">Hasta fecha</label>
                <input type="date" class="form-control" id="fechaHasta" name="hasta" th:value="${hasta}">
                <small class="text-danger" th:text="${errorHasta}"></small>
            </div>

            <div class="mb-3">
                <label class="form-label">Tipo de Habitación</label>
                <select class="form-select" name="tipo">


                    <option th:each="t : ${tipos}" 
                    th:value="${t}" 
                    th:text="${t}"
                    th:selected="${t == tipoSeleccionado}">
                    </option>
                </select>
            </div>

            <button class="btn btn-primary" type="submit">Buscar</button>
        </form>
    </div>

    <!-- RESULTADO DE LA BUSQUEDA -->
    <div class="mt-4" th:if="${grilla != null}">
        <h3>Disponibilidad</h3>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th th:each="hab : ${#lists.first(grilla).value}" th:text="'Hab. ' + ${hab.key.numero}">
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="entry : ${grilla}">
                    <td th:text="${entry.key}"></td>
                    <td th:each="estado : ${entry.value}" th:text="${estado.value}">
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>