<div th:fragment="page-content">
  <script src="/reservarHabitacion.js" ></script>
  <h1>Reservar Habitaciones</h1>
    <label for="fechaInicio">Fecha de Inicio:</label>
    <input type="date" id="fechaInicio" th:value="${fechaInicioSeleccionada}" name="fechaInicio" required>
    <label for="fechaFin">Fecha de Fin:</label>
    <input type="date" id="fechaFin"  th:value="${fechaFinSeleccionada}" name="fechaFin" required>
    <label for="tipo">Tipo de Habitación</label>
    <select name="tipo" id="tipo">
      <option value="" 
            th:if="${tipoSeleccionado == null or tipoSeleccionado == ''}" 
            th:text="'Seleccione...'" 
            disabled 
            selected>
    </option>
            
    <option th:each="tipo : ${tipos}"
            th:text="${tipo}"
            th:value="${tipo}"
            th:selected="${tipoSeleccionado != null and tipo.toString() == tipoSeleccionado.toString()}">
    </option>
    </select>
<div th:if="${mostrarTabla}" >
  <div  th:replace="estadoHabitaciones :: content" ></div>
</div>
</div>